apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
 name: deploy-openshift
spec:
 results:
 - name: kubeadmin-password
   description: kubeadmin-password
 - name: hosts-entry
   description: hosts-entry
 params:
 - name: pull_secret
   description: pull_secret
   type: string
 - name: ssh_pub_key
   description: ssh_pub_key
   type: string
 - name: cluster
   description: cluster
   type: string
 - name: cluster
   description: cluster
   type: string
   default: 'testk'
 - name: domain
   description: domain
   type: string
   default: 'karmalabs.com'
 - name: version
   description: version
   type: string
   default: 'stable'
 - name: tag
   description: tag
   type: string
   default: '4.9'
 - name: masters
   description: masters
   type: string
   default: '3'
 - name: workers
   description: workers
   type: string
   default: '0'
 - name: numcpus
   description: numcpus
   type: string
   default: '16'
 - name: memory
   description: memory
   type: string
   default: '32768'
 - name: disk_size
   description: disk_size
   type: string
   default: '30'
 - name: network_type
   description: network_type
   type: string
   default: 'OVNKubernetes'
 - name: async
   description: async
   type: string
   default: 'false'
 steps:
   - name: deploy
     image: "quay.io/karmab/kcli:latest"
     env:
     - name: NAMESPACE
       value: $(context.taskRun.namespace)
     - name: PULL_SECRET
       value: $(params.pull_secret)
     - name: SSH_PUB_KEY
       value: $(params.ssh_pub_key)
     - name: CLUSTER
       value: $(params.cluster)
     - name: DOMAIN
       value: $(params.domain)
     - name: VERSION
       value: $(params.version)
     - name: TAG
       value: $(params.tag)
     - name: MASTERS
       value: $(params.masters)
     - name: WORKERS
       value: $(params.workers)
     - name: NUMCPUS
       value: $(params.numcpus)
     - name: MEMORY
       value: $(params.memory)
     - name: DISK_SIZE
       value: $(params.disk_size)
     - name: NETWORK_TYPE
       value: $(params.network_type)
     - name: ASYNC
       value: $(params.async)
     - name: BLUE
       value: '\033[0;36m'
     - name: NC
       value: '\033[0m'
     - name: PYTHONUNBUFFERED
       value: "true"
     script: |
      #!/usr/bin/env bash
      echo -e "kubevirt:\n type: kubevirt\n namespace: $NAMESPACE" > ~/.kcli/config.yml
      echo -ne """cluster_network_ipv4: 10.120.0.0/14
      service_network_ipv4: 172.28.0.0/16
      #kubevirt_ignore_node_port: true  
      """ > kcli_parameters.yml
      echo $PULL_SECRET > openshift_pull.json
      mkdir $HOME/.ssh
      echo $SSH_PUB_KEY > $HOME/.ssh/id_rsa.pub
      chmod 600 $HOME/.ssh/id_rsa.pub
      echo kcli create cluster openshift --force -P version="$VERSION" -P tag="$TAG" -P domain="$DOMAIN" -P masters="$MASTERS" -P workers="$WORKERS" -P numcpus="$NUMCPUS" -P memory="$MEMORY" -P disk_size="$DISK_SIZE" -P network_type="$NETWORK_TYPE" -P async="$ASYNC" $CLUSTER
      kcli create cluster openshift --force -P version="$VERSION" -P tag="$TAG" -P domain="$DOMAIN" -P masters="$MASTERS" -P workers="$WORKERS" -P numcpus="$NUMCPUS" -P memory="$MEMORY" -P disk_size="$DISK_SIZE" -P network_type="$NETWORK_TYPE" -P async="$ASYNC" $CLUSTER
      cp $HOME/.kcli/clusters/$CLUSTER/auth/kubeadmin-password $(results.kubeadmin-password.path)
      grep $CLUSTER /etc/hosts > $(results.hosts-entry.path)
      echo -e "${BLUE}Kubeconfig to use with this cluster:${NC}"
      cat $HOME/.kcli/clusters/$CLUSTER/auth/kubeconfig
      ./oc create secret generic kubeconfig-$CLUSTER --from-file=$HOME/.kcli/clusters/$CLUSTER/auth/kubeconfig --dry-run=client -o yaml | ./oc apply -f -
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: deploy-openshift
spec:
  description: deploy openshift
  results:
  - name: kubeadmin-password
    description: kubeadmin-password
    value: $(tasks.deploy-openshift.results.kubeadmin-password)
  - name: hosts-entry
    description: hosts-entry
    value: $(tasks.deploy-openshift.results.hosts-entry)
  params:
  - name: pull_secret
    type: string
    default: 'CHANGE_PULL_SECRET'
  - name: ssh_pub_key
    type: string
    default: 'CHANGE_SSH_PUB_KEY'
  - name: cluster
    type: string
    default: 'testk'
  - name: domain
    type: string
    default: 'karmalabs.com'
  - name: version
    description: version
    type: string
    default: 'stable'
  - name: tag
    description: tag
    type: string
    default: '4.9'
  - name: masters
    description: masters
    type: string
    default: '3'
  - name: workers
    description: workers
    type: string
    default: '0'
  - name: numcpus
    description: numcpus
    type: string
    default: '16'
  - name: memory
    description: memory
    type: string
    default: '32768'
  - name: disk_size
    description: disk_size
    type: string
    default: '30'
  - name: network_type
    description: network_type
    type: string
    default: 'OVNKubernetes'
  - name: async
    description: async
    type: string
    default: 'false'
  tasks:
  - name: deploy-openshift
    taskRef:
      name: deploy-openshift
    params:
    - name: pull_secret
      value: $(params.pull_secret)
    - name: ssh_pub_key
      value: $(params.ssh_pub_key)
    - name: cluster
      value: $(params.cluster)
    - name: domain
      value: $(params.domain)
    - name: version
      value: $(params.version)
    - name: tag
      value: $(params.tag)
    - name: masters
      value: $(params.masters)
    - name: workers
      value: $(params.workers)
    - name: numcpus
      value: $(params.numcpus)
    - name: memory
      value: $(params.memory)
    - name: disk_size
      value: $(params.disk_size)
    - name: network_type
      value: $(params.network_type)
    - name: async
      value: $(params.async)
